@*утилита работы с дисками*@
@page "/disks"
@rendermode InteractiveServer
@using BlazorWebSSD
@inject DisksConfig DisksConfig
@using BlazorWebSSD.Components.Rows

<h3>Диски и разделы</h3>


<button class="btn btn-primary mb-3" @onclick="ReloadPage" disabled="@isProcessing">
    @(isProcessing ? "Загрузка..." : "Обновить")
</button>

@if (Disks_ == null)
{
    <p>Загрузка...</p>
}
else
{
    @foreach (var disk in Disks_)
    {
        @if (disk.Partitions.Count == 0)
        {
            <PartitionRow Model="@disk.Model.ToString()" 
            Size="@disk.DeviceSizeBytes.ToString()" 
            State="*" />
        }
        else
        {
            @foreach (var part in disk.Partitions)
            {
                int type = DisksConfig.FindDisk(disk.Serial);
                string state = "Не используется";
                if (type == 1)
                    state = "Backup";
                if (type == 2)
                    state = "Shared";
                <PartitionRow Model="@disk.Model.ToString()"
                              Serial="@disk.Serial"
                              DiskName=@part.DeviceName
                              Size="@((part.UsedBytes / 1073741824.0).ToString("0.0") + "/" + (part.SizeBytes / 1073741824.0).ToString("0.0"))"
                              State="@state"
                              Disk=@disk
                              Partition=@part />
            }
        }
    }
}

@code {
    private List<DiskInfo>? Disks_=null;
    private bool isProcessing = false;
    protected override async Task OnInitializedAsync()
    {
        Disks_ = await DiskManager.GetDisksAsync();
        foreach (var disk in Disks_!)
        {
            foreach (var part in disk.Partitions)
            {
                Console.WriteLine("-------");
                Console.WriteLine(part.ToString());
            }
        }
    }

    private async Task ReloadPage()
    {
        isProcessing = true;
        Disks_ = await DiskManager.GetDisksAsync();
        isProcessing = false;
    }
}