@page "/weather"
@*@attribute [StreamRendering]*@
@inject NasService NasService
@inject LedMaster LedMaster
@rendermode InteractiveServer

<h3>Mount</h3>
<button class="btn btn-primary mb-3" @onclick="() => ClickAction(NasService.MountAllDisks)" disabled="@Disabled">Mount All</button>
<button class="btn btn-primary mb-3" @onclick="() => ClickAction(NasService.MountAllShare)" disabled="@Disabled">Mount All Shared</button>
<button class="btn btn-primary mb-3" @onclick="() => ClickAction(NasService.MountAllBackUp)" disabled="@Disabled">Mount All BackUp</button>
<hr />
<button class="btn btn-primary mb-3" @onclick="() => ClickAction(NasService.UnmountAll)" disabled="@Disabled">Unmount All</button>
<button class="btn btn-primary mb-3" @onclick="() => ClickAction(NasService.UnmountAllShared)" disabled="@Disabled">Unmount All Shared</button>
<button class="btn btn-primary mb-3" @onclick="() => ClickAction(NasService.UnmountAllBackUp)" disabled="@Disabled">Unmount All BackUp</button>

<hr />

<h3>Samba</h3>
<button class="btn btn-primary mb-3" @onclick="() => ClickAction(NasService.SambaShareAll)" disabled="@Disabled">Samba All</button>
<button class="btn btn-primary mb-3" @onclick="() => ClickAction(NasService.UnSambaShareAll)" disabled="@Disabled">UnSamba All</button>

<hr />
<h3>Led</h3>
<button class="btn btn-primary mb-3" @onclick="() => LedMaster.SetState(LedState.GreenConst)" disabled="@Disabled">Green const</button>
<button class="btn btn-primary mb-3" @onclick="() => LedMaster.SetState(LedState.GreenSlowBlink)" disabled="@Disabled">Green slow</button>
<button class="btn btn-primary mb-3" @onclick="() => LedMaster.SetState(LedState.GreenFastBlink)" disabled="@Disabled">Green fast</button>

<button class="btn btn-primary mb-3" @onclick="() => LedMaster.SetState(LedState.OrangeConst)" disabled="@Disabled">Orange const</button>
<button class="btn btn-primary mb-3" @onclick="() => LedMaster.SetState(LedState.OrangeSlowBlink)" disabled="@Disabled">Orange slow</button>
<button class="btn btn-primary mb-3" @onclick="() => LedMaster.SetState(LedState.OrangeFastBlink)" disabled="@Disabled">Orange fast</button>

<button class="btn btn-primary mb-3" @onclick="() => LedMaster.SetState(LedState.RedConst)" disabled="@Disabled">Red const</button>
<button class="btn btn-primary mb-3" @onclick="() => LedMaster.SetState(LedState.RedSlowBlink)" disabled="@Disabled">Red slow</button>
<button class="btn btn-primary mb-3" @onclick="() => LedMaster.SetState(LedState.RedFastBlink)" disabled="@Disabled">Red fast</button>

<button class="btn btn-primary mb-3" @onclick="() => LedMaster.SetState(LedState.Off)" disabled="@Disabled">Off</button>

@code {
    private bool Disabled = false;
    protected override void OnInitialized()
    {
    }
    private async Task ClickAction( Action _Action)
    {
        if (Disabled) return;
        Disabled = true;
        StateHasChanged();
        //await Task.Delay(1000);
        try
        {
            await Task.Run(_Action); // синхронный вызов
        }
        finally
        {
            Disabled = false;
            StateHasChanged();
        }
    }
}
