@*строка утилиты управления дисками*@
@using BlazorWebSSD
@inject DisksConfig DisksConfig
@inject IJSRuntime JS

<div class="border border-dark p-2 mb-2 @(Disabled ? "bg-dark text-white" : "bg-light")">
    <div class="row g-2">
        @*диск*@
        <div class="col text-center">
            <h5 style="text-align: left;">Диск @State</h5>
            <div style="text-align: left;">Model: @(Disk?.Model ?? "-")</div>
            <div style="text-align: left;">Serial: @(Disk?.Serial ?? "-")</div>
            <div style="text-align: left;">Name: @(Disk?.DeviceName ?? "-")</div>
            <div style="text-align: left;">Size: @GetDiskSize()</div>
        </div>
        @*разделы*@
        <div class="col text-center">
            <h5 style="text-align: left;">Разделы</h5>
            @if (Disk != null)
            {
                @foreach (var part in Disk.Partitions)
                {
                    <div style="text-align: left;">@part.ToString()</div>
                }
            }
        </div>
        <div class="col">
            <button class="btn btn-sm btn-outline-primary w-100 mb-2" disabled="@Disabled" @onclick=OnShareClick>Расшарить</button>
            <button class="btn btn-sm btn-outline-primary w-100 mb-2" disabled="@Disabled" @onclick=OnBackupClick>Для Backup</button>
            <button class="btn btn-sm btn-outline-primary w-100 mb-2" disabled="@Disabled" @onclick=DiskFormat>Форматировать</button>
            <button class="btn btn-sm btn-outline-primary w-100" disabled="@Disabled">Стереть</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Model { get; set; } = "SSD123";
    [Parameter]
    public string DiskName { get; set; } = "sda1";
    [Parameter]
    public string Serial { get; set; } = "S12345678";
    [Parameter]
    public string Size { get; set; } = "12.0/123.0 GB";
    [Parameter]
    public string State { get; set; } = "Не используется";
    [Parameter]
    public DiskInfo ?Disk { get; set; }
    [Parameter]
    public PartitionInfo ?Partition { get; set; }
    private bool Disabled = true;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (Disk != null)
            Disabled = !Disk.DeviceName.StartsWith("sd");
    }
    private async Task OnShareClick()
    {
        if (Disk == null) 
        {
            Console.WriteLine("Нет диска");
            return;
        }
        // Показываем окно подтверждения
        var confirmed = await JS.InvokeAsync<bool>("confirm", "Диск будет отформатирован, продолжить?");

        if (confirmed)
        {
            Console.WriteLine("Добавляем диск " + Disk.Serial);
            DisksConfig.AddDisk(Disk.Serial, 2);
        }
    }
    private async Task OnBackupClick()
    {
        if (Disk == null)
        {
            Console.WriteLine("Нет диска");
            return;
        }
        // Показываем окно подтверждения
        var confirmed = await JS.InvokeAsync<bool>("confirm", "Диск будет отформатирован, продолжить?");

        if (confirmed)
        {
            Console.WriteLine("Добавляем диск " + Disk.Serial);
            DisksConfig.AddDisk(Disk.Serial, 1);
        }
    }
    //получить строку размера диска
    private string GetDiskSize()
    {
        if (Disk == null)
            return "-";
        string sizeGb = (Disk.DeviceSizeBytes / (1024.0 * 1024 * 1024)).ToString("F2");
        //string usedGb = (0 / (1024.0 * 1024 * 1024)).ToString("F2");
        return sizeGb + " GB";
    }
    //форматировать диск в ext4
    private async Task DiskFormat()
    {
        if (Disk == null)
        {
            Console.WriteLine("Нет диска");
            return;
        }
        // Показываем окно подтверждения
        var confirmed = await JS.InvokeAsync<bool>("confirm", "Диск будет отформатирован, продолжить?");

        if (confirmed)
        {
            Disk.FormatWholeDisk("ext4");
        }
    }
}