@*строка утилиты управления дисками*@
@using BlazorWebSSD
@inject DisksConfig DisksConfig
@inject IJSRuntime JS

<div class="border border-dark bg-light p-2 mb-2">
    <div class="row g-2">
        @*диск*@
        <div class="col text-center">
            <div style="text-align: left;">Model: @(Disk?.Model ?? "-")</div>
            <div style="text-align: left;">Serial: @(Disk?.Serial ?? "-")</div>
            <div style="text-align: left;">Name: @(Disk?.DeviceName ?? "-")</div>
            <div style="text-align: left;">Size: @GetDiskSize()</div>
        </div>
        @*разделы*@
        <div class="col text-center">
            @if (Disk != null)
            {
                @foreach (var part in Disk.Partitions)
                {
                    <div style="text-align: left;">@part.ToString()</div>
                }

                <div style="text-align: left;">
                    @State
                    <button class="btn btn-sm btn-outline-primary" @onclick=OnShareClick>Расшарить</button>
                    <button class="btn btn-sm btn-outline-primary" @onclick=OnBackupClick>Для Backup</button>
                    <button class="btn btn-sm btn-outline-primary" @onclick="(()=>Disk.Partitions[0].FormatAsExt4())">Форматировать</button>
                </div>
            }
        </div>
        <div class="col text-center">
            <div style="text-align: right;">
                <button class="btn btn-sm btn-outline-primary" @onclick=OnShareClick>Расшарить</button>
            </div>
            <div style="text-align: right;">
                <button class="btn btn-sm btn-outline-primary" @onclick=OnBackupClick>Для Backup</button>
            </div>
            <div style="text-align: right;">
                <button class="btn btn-sm btn-outline-primary" >Форматировать</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Model { get; set; } = "SSD123";
    [Parameter]
    public string DiskName { get; set; } = "sda1";
    [Parameter]
    public string Serial { get; set; } = "S12345678";
    [Parameter]
    public string Size { get; set; } = "12.0/123.0 GB";
    [Parameter]
    public string State { get; set; } = "Не используется";
    [Parameter]
    public DiskInfo ?Disk { get; set; }
    [Parameter]
    public PartitionInfo ?Partition { get; set; }

    private async Task OnShareClick()
    {
        if (Disk == null) 
        {
            Console.WriteLine("Нет диска");
            return;
        }
        // Показываем окно подтверждения
        var confirmed = await JS.InvokeAsync<bool>("confirm", "Диск будет отформатирован, продолжить?");

        if (confirmed)
        {
            Console.WriteLine("Добавляем диск " + Disk.Serial);
            DisksConfig.AddDisk(Disk.Serial, 2);
        }
    }
    private async Task OnBackupClick()
    {
        if (Disk == null)
        {
            Console.WriteLine("Нет диска");
            return;
        }
        // Показываем окно подтверждения
        var confirmed = await JS.InvokeAsync<bool>("confirm", "Диск будет отформатирован, продолжить?");

        if (confirmed)
        {
            Console.WriteLine("Добавляем диск " + Disk.Serial);
            DisksConfig.AddDisk(Disk.Serial, 1);
        }
    }
    //получить строку размера диска
    private string GetDiskSize()
    {
        if (Disk == null)
            return "-";
        string sizeGb = (Disk.DeviceSizeBytes / (1024.0 * 1024 * 1024)).ToString("F2");
        //string usedGb = (0 / (1024.0 * 1024 * 1024)).ToString("F2");
        return sizeGb + " GB";
    }
}